@import "../../../styles/variables.scss";

.toolbar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .month-changer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .back-button,
    .next-button {
      border-radius: 50%;
      fill: $darkColor;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $primaryColor;
        cursor: pointer;
      }
    }

    span {
      color: $darkColor;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        color: $darkColor;
      }
    }
  }
}
